body{
    margin: 0;
    padding: 0;
}
.hp-modal-mask{
    position: absolute;
    width: 100%;
    background: rgba(53, 118, 173, 0.5);
    z-index: 1000;
}

.hp-modal{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-box-shadow: 1px 1px 20px #175591;
    -webkit-box-shadow: 1px 1px 20px #175591;
    -ms-box-shadow: 1px 1px 20px #175591;
    -o-box-shadow: 1px 1px 20px #175591;
    box-shadow: 1px 1px 20px #175591;
    position: fixed;
    background: #f8f8f8;
    text-align: center;
    min-width: 300px;
    /*max-width: 900px;*/
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 120px;
    font-family: 'Microsoft Yahei';
}
.hp-modal #hp-title{
    position: relative;
    width: calc(100% - 40px);
    /*padding:  10px 40px 10px 10px;*/
    line-height: 40px;
    min-height: 40px;
    height: auto;
    background: #3284a7;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    cursor: move;
    color: #ffffff;
    text-align: left;
    text-indent: 10px;
    padding-right:40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hp-modal .hp-modal-body{
    text-align: left;
    padding: 20px;
    /*min-height: 60px;*/
}

.hp-modal .closeX{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    line-height: 40px;
    font-style: normal;
    color: #fff;
    text-align: center;
    z-index: 2000;
    cursor: pointer;
}
.hp-modal>span{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 26px;
    width: auto;
    min-width: 100px;
    padding: 5px 8px;
    white-space: pre-line;
    word-break: break-all;
    word-wrap: break-word;
    color: #000;
}
.hp-modal>span:nth-of-type(1){
    max-width: 240px;
}
.btn-group{
    position: relative;
    margin-top: 10px;
    bottom: 10px;
    width: 90%;
    text-align: right;
}
.btn-group a{
    display: inline-block;
    line-height: 28px;
    min-width: 80px;
    padding: 3px 6px;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    margin-right: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn-group a:hover{
    text-decoration: none;
}
#hp-modal-btn-sure{
    background: #3284a7;
    color: white;

}
#hp-modal-btn-no:hover,
#hp-modal-btn-sure:hover{
    background: rgba(67, 152, 238, .9);
}

#hp-modal-btn-no{
    background: #3284a7;
    color: white;
}
